.logo{
    border-radius: 50%;
}

.col1-img1{
    border-radius: 25px;
    box-shadow: 5px 5px 8px gray;
    cursor: pointer;
}

.col1-img1:hover{
    border: 1px solid white;
    box-shadow: 0px 0px 10px gray;
}

.row-col2-div-3{
    border: none;
    box-shadow: 2px 2px 3px gray;
    border-radius: 15px;
    min-width: 120px;
    background-color: white;
    color: red;
    font: bold;
}

.row-col2-div-3:hover{
     box-shadow: 0px 0px 2px gray;
     transition: 0.3s;
}

.contact{
    font-size: 50px;
    margin-left: 100px;
}
.c1{
 
    height: 600px;
    margin-left: 100px;
    width: 450px;
}
.text{
    margin-top: 20px;
    margin-left:100px;
    font-size: 25px;
}
.img{
    margin-left: 100px;
}