.logo{
    border-radius: 50%;
}

.col1-img1{
    border-radius: 25px;
    box-shadow: 5px 5px 8px gray;
    cursor: pointer;
}

.col1-img1:hover{
    border: 1px solid white;
    box-shadow: 0px 0px 10px gray;
}

.row-col2-div-3{
    border: none;
    box-shadow: 2px 2px 3px gray;
    border-radius: 15px;
    min-width: 120px;
    background-color: white;
    color: red;
    font: bold;
}

.row-col2-div-3:hover{
     box-shadow: 0px 0px 2px gray;
     transition: 0.3s;
}
.categories-img{
    border-radius: 20px;
    box-shadow: 0 0 3px 3px black;
}
.categories-img:hover{
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 4px 4px black;
    -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
}

.contact{
    font-size: 50px;
    margin-left: 100px;
}
.c1{
 
    height: 600px;
    margin-left: 100px;
    width: 450px;
}
.text{
    margin-top: 20px;
    margin-left:100px;
    font-size: 25px;
}
.img{
    margin-left: 100px;
}
.imgs{
    margin-left: 250px;
}
.sub{
    margin-left: 200px;
    margin-top: 80px;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 25px;
    padding: 5px;
    width: 190px;
    color: white;
    background-color: black;
}

/*.popup{
    width:500px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}*/

.open-popup{
    visibility: visible;
    top:50%;
    transform: translate(-50%, -50%) scale(1);

}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup button{
    min-width: 100px;
    margin-top: 50px;
    padding: 10px 0;
    background: #6f6f6f;
    color: white;
    border:0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.dance-categories{
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px  3px deeppink ;
    
}
.dance-categories:hover{
 color: red;
 text-shadow: 0px 0px  3px deeppink ;
}

.about-team-card{
   min-height: 200px;
   border: 1px solid black;
   min-width: 100px;
   box-shadow: 0px 0px 3px gray;
   border-radius: 15px;
   
}

.about-team-card:hover{
    box-shadow: 0px 0px 5px gray;
}