.container-card{
    border:1px solid black;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.container-card:hover{
    background-color: rgb(64, 63, 63);
    box-shadow: 3px 3px 15px rgb(123, 186, 195);
    cursor: pointer;
}

.container-card-img{
    min-width: 200px;
    border-radius: 20px;
}

.container-card-btn{
    border-radius: 20px;
    min-width: 100px;
    box-shadow: 0px 0px 3px white;
}

.btn-link{
    text-decoration: none;
    color: black;
}
.container-card-btn:hover{
    border: 1px solid yellow;
    box-shadow: 0px 0px 5px red;
    color: red;
}

.header-container{
    background-color: black;
    color: white;
}

.home-btn{
    border-radius: 15px;
    border: none;
    box-shadow: 3px 3px 10px gray;
    background-color: white;
    font: bold;
    min-width: 130px;
}

.home-btn-link{
    text-decoration: none;
    color: black;
    font: bold;

}

.home-btn:hover{
    cursor: pointer;
    color: red;
    box-shadow: 0px 0px 10px grey;

}
.home-btn-link:hover{
    color: red;
}